.page{
    background-color: whitesmoke;
    width: 2480px;
    height: 3508px;
}
.top{
    background-color: lightslategrey;
    width: 2480px;
    height: 350px;
}
#name{
    font-size: 120px;
    padding-left: 700px;
    padding-top: 100px;
}

#job{
    font-size: 35px;
    padding-left: 700px;
    margin-top: -60px;
}

.left{
    background-color: gainsboro;
    width: 500px;
    height: 3400px;
    margin-top: -300px;
    margin-left: 100px;
}
.img{
    width: 300px;
    height: 300px;
    padding: 50px 100px;
}
.textleft{
    padding-left: 80px;
    font-size: 30px;
    word-wrap: break-word;
    margin-right: 50px;
}
.Subject{
    font-size: 50px;
    margin-bottom: 8px;
    padding-left: 80px;
}

.icon{
    float: left;
    margin: 27px 24px -15px 80px;
    padding-right: 120px;
}

.texticon{
    float: left;
    font-size: 30px;
    margin-left: -123px;
    margin-bottom: -15px;
}
#education{
    padding-top: 221px;
    font-size: 50px;
    margin-left: 80px;
}
.contact{


}

